/*ALGEMEEN*/
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
main {
    text-align: center;
    padding: 0 9vw;
    margin-bottom: 20px;
}
.active-item {
    border-bottom: 2px solid #fff;
}
a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}
a:hover::after {
    width: 100%;
}
a.noline:hover::after {
    width: 0;
}


/*TEKST*/
header h1, h2 {
    color: #fff;
}
h1 {
    font-size: 3.2em;
    font-family: 'Coiny', cursive;
    margin: 0;
    padding: 20px;
}
h1.titel {
    margin-bottom: 10px;
    padding: 20px 0 0 0;

}
h2 {
    margin-top: 0;
}


/*BUTTONS*/

.button-wit-blauw {
    display: inline-block;
    background: #fff;
    padding: 10px 20px;
    color: #0125CC;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 40px;
}

/*HEADER*/

header {
    background: #4CCF66;
    text-align: center;
}
nav.hoofdmenu {
    background: #0125CC;
    text-align: center;
    padding: 10px 9vw;
}
nav.hoofdmenu ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}
nav.hoofdmenu ul li {
    padding: 10px 0;
}
nav.hoofdmenu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}
/*https://codepen.io/martinwolf/pen/eNNdme*/
nav.hoofdmenu ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    transition: width .3s;
}
nav.hoofdmenu ul li a:hover::after {
    width: 100%;
}
nav.hoofdmenu ul li a.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
}
.hoofdmenu.responsive {
    display: none;
}
nav.hoofdmenu img {
    width: 20px;
    height: auto;
}
input[type="text"] {
/*    background: none;*/
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: #fff;
}
input[type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.9em;
}


/*PROGRAMMA*/

ul.sorteren-nav {
    background-color: #a3a3a3;
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    padding: 15px 0 15px 0;
}
ul.sorteren-nav li {
    padding: 0 10px;
    font-weight: 600;
    color: #fff
}
ul.sorteren-nav li a {
    text-decoration: none;
    color: #fff;
}
ul.sorteren-nav li:last-of-type {
    flex-grow: 1;
    text-align: right;
    font-size:  0.87em;
}
ul.sorteren-nav li:last-of-type span {
    text-decoration: underline;
    font-size: 1.06em;
}
section.filter-categorie {
    display: flex;
    justify-content: flex-start;
}
section.filter-categorie nav {
    background: #4CCF66;
    margin-right: 20px;
    display: inline-block;
    text-align: left;
    width: 41%;
    height: 100%;
}
section.filter-categorie nav h2 {
    margin: 0;
    color: #fff;
    padding: 10px 15px 0 15px;
    display: flex;
    justify-content: space-between;
}
section.filter-categorie nav li a {
    text-align: left;
    padding: 0;
}
i.fas.fa-chevron-down {
    font-size: 1.6em;
}
i.fas.fa-chevron-down.sub {
    margin: 0;
    font-size: 1.56em;
    position: relative;
    right: 0;
}
/*class voor javascript*/
.menu-categorie {
    opacity: 0;
    height: 0;
    transition: all .3s ease;
}
.uitklapeffect1 {
    opacity: 1;
    height: 100%;
}
.menu-categorie li {
    padding: 0;
}
section.filter-categorie nav ul {
    padding-left: 0;
    margin: 10px 0 0 0;
    list-style: none;
}
section.filter-categorie nav ul.menu-categorie-muziek {
    list-style: none;
    padding-left: 10px;
    height: 0;
    visibility: hidden;
    transition: all .3s ease;
}
.uitklapeffect2 {
    height: 100% !important;
    visibility: visible !important;
}
section.filter-categorie nav ul.uitklapeffect1 li {
    padding: 10px; 
}
section.filter-categorie nav ul.uitklapeffect1 li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
section.filter-categorie nav ul li {
    background: #c5ebc8;   
}
section.filter-categorie nav ul li:nth-child(odd) { 
    background: #b3e5b6; 
}
section.filter-categorie nav ul li:first-of-type {
    background: #8e9ee2;
}
.menu-categorie-muziek.uitklapeffect2 li {
    background: none !important;
}
section.filter-categorie section {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
article:first-child {
    margin-right: 20px;
}
article {
    background: #4CCF66;
    padding: 20px;
    width: 45%;
    color: #fff;
    text-align: left;
    margin-bottom: 0px;
}
article h2 {
    font-family: 'Coiny', cursive;
    color: #fff;
    font-size: 1.87em;
    margin: 0 0 20px;
}
article h2 a {
    color: #fff;
    text-decoration: none;
}
article h3 {
    margin-bottom: 0px;
    font-size: 0.75em;
}
article ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}
article ul li img {
    height: 25px;
    width: auto;
    margin-right: 20px;
}
article ul li:last-child {
    margin-left: auto;
    background: #000;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
}
article img {
    max-width: 100%;
    transition: all .4s ease;
}
article img:hover {
    opacity: 0.7;
}

/*ARTIEST DETAIL PAGINA*/

video {
    width: 100%;
}
section.artiest-informatie {
    background: #4CCF66;
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
}
section.artiest-informatie h2 {
    font-family: 'Coiny', cursive;
    font-size: 4em;
    margin: 0 0 10px 0;
}
section.artiest-informatie h3 {
    font-size: 1em;
    margin: 0;
}
section.artiest-informatie img {
    max-width: 100%;
}
section.artiest-informatie ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}
section.artiest-informatie ul li img {
    height: 35px;
    width: auto;
    margin-right: 20px;
}
header.artiets-detail {
    height: 15vw;
    background: none;
}
section.artiest-last {
    background: blue;
    width: 65%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}
iframe {
    width: 630px;
    height: 355px;
}
section.artiest-last ul {
    text-align: left;
    list-style: none;
}
section.artiest-last ul li a {
    color: #fff;
    text-decoration: none;
}
section.artiest-last ul h4 {
    color: #fff;
    margin: 0 0 10px 0;
}
footer {
    margin: 0 auto;
    background-image: url(../images/artiesten/twenty.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
}
footer video{
    width: 100%;
    border: 20px solid #4CCF66;
}

/*FORM*/

main.tickets {
    text-align: left;
}
form section {
    display: flex;
}
form section fieldset p label {
    width: 140px;
    display: inline-block;
    text-align: right;
    padding-right: 6px;
}
fieldset {
    width: 100%;
    background: #0125CC;
    color: #fff;
    border: none;
}
fieldset:first-child {
    background: #4CCF66;
}
fieldset:last-child {
    background: #0125CC;
}
fieldset p {
    text-align: left;
}
fieldset div {
    display: flex;
    align-content: flex-start;
    padding-bottom: 5px;
}
fieldset div div {
    margin-right: 20px;
}
legend {
    padding-top: 50px;
    font-weight: bold;
    font-size: 1.12em;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/:checked*/
fieldset:first-child input[type="radio"]:checked {
    box-shadow: 0 0 0 1.5px #0125CC;
    transition: all .3s ease;
}
fieldset:last-child input[type="radio"]:checked {
    box-shadow: 0 0 0 1.5px #4CCF66;
    transition: all .3s ease;
}
fieldset:first-child input:focus {
    color: #0125CC;
    border: 2px solid #0125CC;
    transition: all .3s ease;
}
fieldset:last-child input:focus {
    color: #5069dd;
    border: 2px solid #5069dd;
    transition: all .3s ease;
}
fieldset:first-child input:valid {
    border: 2px solid #26a840;
    transition: all .3s ease;
}
fieldset:last-child input:valid {
    border: 2px solid #26a840;
    transition: all .3s ease;
}
fieldset:invalid p:last-of-type {
  display: none;
}
fieldset:valid p:last-of-type {
    display: block;
    padding: 0.25em;
    color: #fff;
    background: #0125CC;
}
fieldset:last-of-type:valid p:last-of-type {
  background: #4CCF66;
}
#huisnummer {
    width: 40px;
}
#postcode {
    width: 60px;
}
input[type="submit"] {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #0125CC;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #0125CC;
    font-size: 0.93em;
    display: block;
    margin: 20px auto;
    transition: padding-top .3s ease-out .3s, padding-bottom .2s ease-out .3s, padding-left .2s ease-out .3s, padding-right .2s ease-out .3s, transform .5s ease-in .3s, opacity .8s ease-out .3s;
}
/*https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate3d*/
input[type="submit"]:hover {
    border: 2px solid #0125CC;
    font-size: 0.93em;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100px;
    transform: translateX(300%);
    transform: rotate3d(2, -1, -1, -0.2turn);
    opacity: 0;
}


/*RESPONSIVE*/
@media screen and (max-width: 1400px) {
    section.artiest-last, section.artiest-informatie {
        width: 95%;
    }
    section.artiest-informatie h3 {
        font-size: 1.2em;
    }
    section.artiest-informatie h2 {
        font-size: 3em;
    }
    section.artiest-informatie ul li img {
        height: 25px;
    }
    fieldset div div {
        margin-right: 10px;
    }
    footer {
        padding: 170px;
    }
    i.fas.fa-chevron-down {
        margin-left: 34px;
    }
}
    
@media screen and (max-width: 1250px) {
    fieldset div {
        flex-wrap: wrap;
}
    
@media screen and (max-width: 1000px) {
    nav.hoofdmenu ul li a {
        font-size: 0.93em;
    }
    input[type="text"]::-webkit-input-placeholder {
        font-size: 0.93em;
    }
    article h2 {
        font-size: 1.25em;
        margin: 0 0 10px;
    }
    article h3 {
        margin-bottom: 0px;
        font-size: 0.68em;
    }
    form section {
        flex-wrap: wrap;
    }
    .categorie-naam {
        font-size: 0.62em;
    }
    h2.categorie-titel {
        font-size: 1.25em;
    }
    i.fas.fa-chevron-down {
        font-size: 1.87em;
        margin-left: 10px;
    }
    header.artiets-detail {
        margin-bottom: 20px;
    }
}
    
@media screen and (max-width: 850px) {
    nav.hoofdmenu ul li {
        padding: 0px 0;
    }
    nav.hoofdmenu ul li a {
        font-size: 0.75em;
    }
    input[type="text"]::-webkit-input-placeholder {
        font-size: 0.75em;
    }
    section.filter-categorie section {
        flex-wrap: wrap;
    }
    article {
        width: 100%;
    }
    article:last-child {
        margin-bottom: 70px;
    }
    article h2 {
        font-size: 2.18em;    
    }
    article.left {
        margin-right: 0;
        margin-bottom: 20px;
    }
    h1.pagina-titel {
        padding: 10px;
        font-size: 2.18em;
    }
}

@media screen and (max-width: 787px) {
    nav.hoofdmenu {
        display: none;
    }
    .hoofdmenu.responsive {
        display: inherit;
        background: #0125CC;
    }
    li.menu-meer {
        display: block;
        transition-duration: 0.5s;
    }
    li.menu-meer:hover {
        cursor: pointer;
    }
    ul li.menu-meer ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        right: 10px;
        display: none;
    }
    ul li.menu-meer:hover > ul,
    ul li.menu-meer ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        text-align: left;
        padding: 10px 10px 10px 10px;
    }
    ul li.menu-meer ul li {
        clear: both;
        width: 100%;
    }
    section.artiesten {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {

    .filter-categorie {
        flex-wrap: wrap;
    }
    section.filter-categorie nav {
        margin: 0 0 20px 0;
        width: 100%;
    }
    i.fas.fa-chevron-down {
        margin-left: 204px;
    }
    section.artiest-informatie h3 {
        font-size: 1em;
    }
    section.artiest-informatie h2 {
        font-size: 2em;
    }
    footer {
        padding: 60px;
    }
    section.artiest-last {
        flex-wrap: wrap;
    }
    .categorie-naam {
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {

    main {
        padding: 0 5vw;
    }
    i.fas.fa-chevron-down {
        margin-left: 140px;
    }
    section.artiest-last, section.artiest-informatie {
        width: 90%;
    }
    footer video {
        border: 5px solid #4CCF66;
    }
    fieldset ul li {
        display: block;
    }
    section fieldset p label {
        width: 140px;
    }
}
@media screen and (max-width: 450px) {

    form section fieldset p label {
        width: 0;
        display: block;
    }

/*Responsive pro */

/*https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme*/
@media (prefers-color-scheme: dark) {
    main { 
        background:  #000; 
        color: #fff; 
    }
}

@media (prefers-color-scheme: light) {
  main { 
      background: #fff; 
      color: #000; 
    }
}
